@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top,rgb(79, 211, 204),rgb(139, 4, 139));
}
main{
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

}
main>h1{
    color: rgb(79, 211, 204);
    margin-bottom: 40px;
}
p{
    text-align: center;
    font-size: 3em;
    height: 100px;
    width: 250px;
 
}
input.butao{
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: 0.9em;
    color: purple;
    padding: 10px;
    margin: 10px;
    background-color:rgb(73, 190, 185) ;
    height: 50px;
    width: 70px;
}
input.butao:hover{
    cursor: pointer;
    background-color:purple ;
    color:rgb(79, 211, 204) ;
}